<div class="card-outline newletter-card">
    <div class="newsletter-container">
        <h3>Occasional knowledge in your inbox. Subscribe now!</h3>
        <div class="newletter-form-block w-form">
            <form id="newsletter-form" name="wf-form-Newsletter-Form" data-name="Newsletter Form"
                method="post" action="https://hook.eu2.make.com/3dvx6stm73c627aiojucaumdab0otece" class="form">
                <input class="text-field w-input"
                    maxlength="256" name="email" data-name="email" placeholder="Your email" type="email"
                    id="email-2" required="" /><input type="submit" data-wait="Please wait..."
                    class="button w-button" value="Submit" /></form>
            <div class="success-message w-form-done">
                <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="error-message w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
            </div>
        </div>
    </div>
</div>